* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  position: relative;
  background-color: var(--BG-color2);
}
::selection {
  background-color: #00afe1;
  color: #fff;
}
:root {
  --main-color: #00afe1;
  --secondColor: #0a2540;
  --secondColor2: #00d4ff;
  --BG-color: #f6f9fc;
  --second-BG-color: #fff;
  --pragraph-color: #425466;
  --hover-color: #0a2540;
  --defult-font-size: 1.8rem;
  --section-padding: 150px;
  --transtion: 0.3s;
}
.toggle_icon {
  display: none;
  cursor: pointer;
}
.praimry_btn {
  border: none;
  border-radius: 24px;
  padding: 11px 32px;
  background-color: var(--secondColor);
}
.praimry_btn:hover {
  opacity: 0.7;
}

.subTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  color: #008cb4;
}
.head_sections {
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: var(--secondColor);
  margin-bottom: 64px;
}
/* .container_head_sections */
.square_img_gallery,
.square_img_why,
.square_img,
.square_img_cta,
.square_img_footer,
.square_img_the_end {
  display: none;
  backdrop-filter: blur(100px);
  opacity: 0.5;
}

.container_squre {
  position: relative;
}

.important_title {
  color: #fff;
}

.img_up {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: -100px;
  height: 38px;
  background-color: #0a2540;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
  transform: rotate(90deg);
}
.show.img_up {
  right: 20px;
  transform: rotate(0);
}
