@media (max-width: 75em) {
  /* 1200px */
  .hero_heading h2 {
    font-size: 64px;
  }
  .image_bg_container img {
    width: 500px;
  }
  .content_right_hero_section video {
    width: 115px;
  }
  .video_product {
    left: 108px;
    top: 85px;
  }
  .sectionWhy {
    display: block !important;
  }
}
@media (max-width: 62em) {
  /* 992px */
  .hero_content {
    width: 100%;
    text-align: center;
  }
  .image_bg_container {
    display: none;
  }
  .description_hero {
    margin: 0 auto;
  }
  .toggle_icon {
    display: block;
  }
  .nav_list {
    display: none;
  }
  .nav_container,
  .whyVideo,
  .whyWeb,
  .whyTeckBuilder,
  .gallery,
  .container_content,
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
  .head_why {
    font-size: 32px;
  }
  .description_why {
    font-size: 16px;
  }
  .subTitle {
    font-size: 16px;
  }
  .head_sections {
    font-size: 36px;
  }
  .head_col {
    font-size: 28px;
  }

  .container_head_sections,
  .whyTeckSection {
    text-align: center;
  }

  .cta {
    background-image: linear-gradient(
        to right,
        rgba(0, 176, 225, 0.8),
        rgba(0, 176, 225, 0.8)
      ),
      url(../assets/bg-cta-mobile.jpg);
  }
  .container_content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  .title_cta {
    font-size: 48px;
  }
  .btn_cta a {
    font-size: 18px;
  }
  .footer {
    padding: 0px 0 25px 0;
  }
  .col_tow_footer {
    padding-top: 32px;
    text-align: center;
    order: 3;
  }
  .description_footer {
    width: 100%;
    padding: 0 48px;
  }
  .col_three_footer {
    border: none;
    border-bottom: 1px dotted var(--main-color);
  }
  .col_four_footer {
    border: none;
    border-bottom: 1px dotted var(--main-color);
  }
  .social_icons {
    order: 1;
  }
  .list_group_icons {
    justify-content: center;
  }
  .description_why {
    font-size: 18px;
  }
  .copyright {
    text-align: center;
  }
  .container_copyRight {
    order: 2;
  }
}
@media (max-width: 48em) {
}
@media (max-width: 36em) {
  .whyTeckBuilder,
  .whyVideo,
  .whyWeb,
  .whyTeckBuilder {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .hero_heading h2 {
    font-size: 48px;
  }
  .hero_section {
    height: 55vh;
    margin-bottom: 195px;
  }
  .whyTeckSection_col:not(:first-child) {
    margin-top: 32px;
  }
  .illustrator_whyDo {
    display: none;
  }
  .whyDo {
    text-align: center;
  }

  .square_img_gallery,
  .square_img_why,
  .square_img_cta,
  .square_img {
    display: block;
    opacity: 0.5;
  }
  .square_img {
    position: absolute;
    top: 86px;
    right: 0;
    z-index: -10;
  }

  .square_img_why {
    position: absolute;
    top: -250px;
    left: 0;
  }
  .square_img_gallery {
    position: absolute;
    top: -82.5rem;
    right: 15px;
  }
  .square_img_cta {
    position: absolute;
    top: -113rem;
    z-index: 10;
    left: 5rem;
    transform: rotate(20deg);
  }
}
