/* Start header */
.hero_section {
  font-size: var(--defult-font-size);
  position: relative;
  background: linear-gradient(
      -45deg,
      var(--main-color),
      #a960ee,
      #90e0ff,
      #ff333d
    ),
    #ffcb57;
  background-size: 400% 400%;
  animation: gradient 25s ease infinite;
  height: 75vh;
  z-index: 1;
  margin-bottom: 70px;
}
.bg_svg {
  position: absolute;
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  z-index: -1;
  bottom: 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nav_container {
  position: relative;
}
.container_right_hereoSection {
  position: absolute;
  top: -0;
  right: -6%;
}
.hero_logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 18px;
}
.nav_list .item_list {
  list-style: none;
}
.nav_list .item_list a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.nav_list .item_list a:hover {
  opacity: 0.7;
}
.hero_content {
  margin-top: 70px;
  width: 50%;
}
.hero_heading h2 {
  font-size: 86px;
  line-height: 1;
  color: var(--secondColor);
}
.description_hero {
  color: var(--pragraph-color);
  max-width: 75%;
  letter-spacing: 0.3;
}

.action_btn a {
  color: #fff;
}
.image_bg_container {
  position: absolute;
  right: 5%;
  top: 160px;
}

.content_right_hero_section {
  position: relative;
}
.video_product {
  position: absolute;
  top: 100px;
  left: 133.5px;
  opacity: 0.9;
}
/* End Hero section */

/* Start servcis  */
.whyDo {
  position: relative;
}
.why_content {
  width: 80%;
}
.head_why {
  font-size: 48px;
  color: var(--secondColor);
}
.description_why {
  color: var(--pragraph-color);
  font-size: 2.4rem;
  line-height: 1.8;
  letter-spacing: 0.4px;
  position: relative;
  z-index: 3;
}
.whyWeb {
  padding-bottom: 100px;
}
.whyVideo {
  padding: 100px 0;
  background-color: var(--BG-color);
}
/* End servcies  */

/* why teck builder */
.whyTeckBuilder {
  position: relative;
  padding: 100px 0;
}

.icon_whyUs img {
  height: 40px;
  margin-bottom: 14px;
}
.head_col {
  font-size: 26px;
  font-weight: 500;
  color: var(--secondColor);
  margin-bottom: 10px;
}
.description_col {
  font-size: 16px;
  line-height: 1.5;
  color: var(--pragraph-color);
  position: relative;
  z-index: 10
}

/* gallery */
.gallery {
  position: relative;
  padding: 100px 0;
  background-color: var(--BG-color);
}

.head_gallery {
  margin: auto;
}
.cards_project {
  position: relative;
  margin: 24px 0;
  margin-top: 64px;
  transition: var(--transtion);
  cursor: pointer;
}
.cards_project:hover {
  transform: translateY(-10px);
  /* box-shadow: 10px 10px 10px px #555; */
}
.cards_project img {
  border-radius: 12px 12px 0 0;
}
.content_card {
  background-color: var(--secondColor);
  border-radius: 0 0 12px 12px;
  padding: 12px 0;
}
.content_card img {
  height: 40px;
  cursor: pointer;
}
.img_mobile {
  position: absolute;
  right: 8px;
  bottom: 64px;
  z-index: 1;
}
.icons_card a {
  text-decoration: none;
}
.icons_card a:hover {
  opacity: 0.7;
}
.text_card p {
  font-size: 18px;
  color: var(--main-color);
}

/* Start cta */
.cta {
  background-image: linear-gradient(
      to right,
      rgba(0, 176, 225, 0.8),
      rgba(0, 176, 225, 0.3)
    ),
    url(../assets/bg-cta.webp);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  position: relative;
}

.container_content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
}
.cta_heading {
  padding-top: 95px;
}
.title_cta {
  color: #fff;
  line-height: 1;
  font-size: 64px;
}
.description_cta {
  font-size: var(--defult-font-size);
  color: #fff;
  line-height: 1.8;
  letter-spacing: 0.7px;
  margin-top: 32px;
}
.btn_cta a {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #fff;
}
.btn_cta {
  margin-top: 24px;
  transition: var(--transtion);
  border-radius: 30px !important;
}

.btn_cta:hover {
  transform: scale(1.2);
  opacity: 1 !important;
}

/* Start footer */
.footer {
  padding: 100px 0;
  background-color: var(--BG-color);
}
.description_footer {
  font-size: var(--defult-font-size);
  margin-top: 32px;
  width: 85%;
}

.title_col_footer {
  font-size: 32px;
  font-weight: 500;
  color: var(--secondColor);
}
.group_list_footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.item_list_footer {
  list-style: none;
}

.link_item {
  text-decoration: none;
  font-weight: 500;
  color: var(--secondColor);
  font-size: 16px;
  transition: 0.1s;
}
.link_item:hover {
  opacity: 0.7;
}
.col_three_footer {
  border-right: 1px dotted var(--main-color);
  border-left: 1px dotted var(--main-color);
}

/*  end of page */
.the_end {
  background-color: var(--BG-color);
}
.content_thEnd {
  padding-bottom: 24px;
}
.copyright {
  font-size: var(--defult-font-size);
  color: var(--secondColor);
  font-weight: 500;
}
.description_footer {
  color: var(--secondColor);
}
.copyright a {
  color: #4b0ab5;
  text-decoration: none;
  transition: var(--transtion);
}
.list_group_icons {
  display: flex;
  gap: 18px;
}
.list_group_icons li {
  list-style: none;
}
.list_group_icons img {
  height: 24px;
}
